<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .btn_logout{
   padding: 10px 11px;
  background: rgb(148, 194, 234);
  border: none;
  margin: auto;
}
.btn-link{
  text-decoration: none;
  color: black;
}
.section{
  max-width: 1140px;
  margin: auto;
  display: flex;
}
.main{
  max-width: 1140px;
  margin: auto;
  display: flex;
  }
  td{
    padding: 16px 5px;
  }
  .link{
    text-decoration: none;
    color: black;
  }
  .sec1{
    width: 50%;
  }
 
</style>
<body>
  <div class="main">
  <h3>Welcome to the User </h3>
  <button class="btn_logout"><a class="btn-link" href="<%=process.env.URL%>/api/logout">Logout</a></button>
</div>
<div class="section">
  <div class="sec1">
  <table >
    <tr>
      <td> <a class="link" href="<%=process.env.URL%>/api/tasks/dynamictable">Dynamic Table</a></td>
    </tr>
    <tr>
      <td><a class="link"  href="<%=process.env.URL%>/api/tasks/kukucube">Kuku Cube</a></td>
    </tr>
    <tr>
      <td><a class="link"  href="<%=process.env.URL%>/api/tasks/tictactoe">Tic Tac Toe</a></td>
    </tr>
    <tr>
      <td><a class="link"  href="<%=process.env.URL%>/api/tasks/selectionSort">Selection Sort</a></td>
    </tr>
    <tr>
      <td><a class="link"  href="<%=process.env.URL%>/api/tasks/jsEvent">JavaScript Events</a></td>
    </tr>
  </table>
</div>
<div class="sec2">
 <table >

  <tr>
    <td><a class="link" href="<%=process.env.URL%>/api/tasks/exam">Exam Report</a></td>
  </tr>
  <tr>
    <td><a class="link" href="<%=process.env.URL%>/api/tasks/sorting">Table with Orderby and Pagination</a></td>
  </tr>
  <tr>
    <td><a class="link" href="<%=process.env.URL%>/api/tasks/attendance">Attendance Report</a></td>
  </tr>
  <tr>
    <td><a class="link" href="<%=process.env.URL%>/api/tasks/delimeterSearch">Delimeter Search</a></td>
  </tr>
<tr>
  <td><a class="link" href="<%=process.env.URL%>/api/tasks/fetchInsertUpdate">Fetch Insert-Update</a></td>
</tr>
<tr>
  <td><a class="link" href="<%=process.env.URL%>/api/tasks/dynamicGrid">Dynamic Grid</a></td>
</tr>
 </table>
</div>
</div>
</body>
</html>